[submodule "Hydron/vendor/spdlog"]
	path = Hydron/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hydron/vendor/GLFW"]
	path = Hydron/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Hydron/vendor/imgui"]
	path = Hydron/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
